<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dtdc" class="com.nt.components.DTDC"/>
	<bean id="bldrt" class="com.nt.components.BlueDart"/>
	
	<bean id="fct" class="com.nt.components.Flipcart">
		<property name="courierCompany" ref="dtdc"></property>
	</bean>

</beans>
